/* Para o layout ocupar toda a altura da tela */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Area principal deve ocupar o espaço restante */
main {
    flex: 1;
}

/* Estilo do cabeçalho */
header {
    background-color: #F2D708; /* Tom de amarelo */
}

/* Estilo da logo O.K com fonte arredondada */
.logo {
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif; /* Fonte arredondada */
    font-size: 2.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    letter-spacing: 0.2rem; /* Espaçamento entre letras */
}

/* Centralizar o texto do saldo */
.card-title {
    font-weight: bold;
    text-align: center;
}

/* Botões personalizados */
.btn-warning {
    background-color: #F2D708 !important; /* Tom de amarelo */
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    color: #000 !important; /* Cor do texto preto */
}

/* Efeito hover nos botões */
.hover-effect:hover {
    background-color: #F1E756 !important; /* Um tom mais claro para hover */
    color: #000 !important;
    transition: all 0.3s ease-in-out;
}

/* Rodape fixado na parte inferior */
footer {
    background-color: #343a40; /* Cor padrão do Bootstrap para o rodape */
    color: white;
    font-size: 0.9rem;
    text-align: center;
}
